.nav {
    --initial-width: 240px;
    display: flex;
    position: fixed;
    width: var(--initial-width);
    height: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: hidden;
    background: #a3ebff;
    transition: width 0.5s, box-shadow 0.25s;
    z-index: 99999;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.nav-hide {
    width: 0px;
    box-shadow: none;
}

/* media queries */
@media (min-width: 1200px) {
    .nav {
        width: var(--initial-width) !important;
        position: initial;
    }

    #sidebar-menu-toggle {
        display: none;
    }
}